.idea

.env

opencopilot/.github
opencopilot/venv
opencopilot/htmlcov
opencopilot/./reports
tests/reports
tests/htmlcov
tests/integration/logger/logs
opencopilot/.ipynb_checkpoints
opencopilot/.coverage
opencopilot/.idea
opencopilot/**/__pycache__
opencopilot/.pytest_cache
opencopilot/**/.DS_Store
opencopilot/cobertura-coverage.xml
backend/logs/**/*.log
backend/logs/**/*.log.*
backend/shared/*.*
backend/shared/nginx/*.log
opencopilot/embedding_models/*
!opencopilot/embedding_models/.gitkeep
opencopilot/node_modules
opencopilot/conversations/*
opencopilot/conversation_logs/*
opencopilot/conversation_contexts/*
opencopilot/copilot_configurations/*

frontend/.DS_Store
frontend/.vscode/
frontend/node_modules
frontend/build
frontend/package
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*
.DS_Store
__pycache__
.venv
*.bin
opencopilot/downloads
embeddings_cache.pkl

dist
opencopilot_ai.egg-info