.idea

backend/.github
backend/venv
backend/htmlcov
backend/./reports
backend/tests/reports
backend/tests/htmlcov
backend/tests/integration/logger/logs
backend/.ipynb_checkpoints
backend/.coverage
backend/.idea
backend/**/__pycache__
backend/.pytest_cache
backend/**/.DS_Store
backend/cobertura-coverage.xml
backend/logs/**/*.log
backend/logs/**/*.log.*
backend/.env
backend/shared/*.*
backend/shared/nginx/*.log
backend/embedding_models/*
!backend/embedding_models/.gitkeep
backend/node_modules
backend/conversations/*
backend/conversation_logs/*
backend/conversation_contexts/*
backend/copilot_configurations/*
backend/copilots/*

frontend/.DS_Store
frontend/.vscode/
frontend/node_modules
frontend/build
frontend/package
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*
.DS_Store
__pycache__
.venv
*.bin
backend/downloads
embeddings_cache.pkl
