@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 201 49% 7%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 180 100% 50%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }

  .light {
    --background: 0 0% 90%;
    --muted: 0 0% 100%;

    --primary: 181 51% 58%;

    --muted-foreground: 0 0% 1%;

    --border: 0 0% 64%;

  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.custom-radio-label {
  border: 1px solid white;
  border-radius: 10%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-right: 15px;
}

.custom-radio-label:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.custom-radio-container {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}

@media (max-width: 450px) {
  .custom-radio-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }

  .custom-radio-label {
    border: 1px solid white;
    border-radius: 10%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
  }
}

.white-on-hover {
  color: #B8B8B8;
}
.white-on-hover:hover {
  color: #FFFFFF;
}

.main-animated {
  margin-right: 0; /* Initial margin */
  transition: margin-right 0.2s ease-out; /* Animation settings */
}

.pushed {
  margin-right: 320px; /* or whatever the width of your sidebar is */
  transition: margin-right 0.2s ease-out; /* Animation settings */
}